body {
    width: 100%;
    min-height: 100vh;
}

.cont{
    background: salmon;
    height: 400px;
    display: grid;
    /* width: 100%; */
    /* rangée */
    grid-template-rows: 150px 150px;
    /* culumn */
    grid-template-columns: 250px 250px 250px;

    /* goutiere */
    /* grid-row-gap:10px;
    grid-column-gap:50px ; */

    /* grid-gap:10px 30px; */
    /* grid-gap:10px; */
    gap: 25px;
}
.box1{
    background: red;

    
}
.box2{
    background:green;

    
}
.box3{
    background:violet;

    
}
.box4{
    background:blue;

    
}
.box5{
    background: aqua;

    
}
.box6{
    background: orange;

    
}