.cont{
    background: salmon;
    height: 600px;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns:150px 150px 150px;
    /* goutiere */
    gap:10px;

    /* Alignement sur x : right, center, end, left, 
    space-around, space-between, space-evenly */
    justify-content:end;

    /* Alignement sur y : space-around, space-between, 
    center, stretch,start, end */
    align-content: center;

}
.box1{
    background: red;
    
}
.box2{
    background:green;

    
}
.box3{
    background:violet;

    
}
.box4{
    background:blue;

    
}
.box5{
    background: aqua;

    
}
.box6{
    background: orange;

    
}