.box{
    width: 200px;
    height: 200px;
    background: salmon;
    
    /* Border */
    /*
    border-style: solid;
    border-width: 2px;
    border-color: #333;*/
    border: 2px solid #333;
    
    /* Gestion de chaque coté */
    border-left: 5px solid orange;
    border-right: 5px solid red;
    border-bottom: 5px solid blue;
    border-top: 5px solid green;

    /* Border Style */
    /* border: 3px dotted #333;
    border: 3px double #333;
     border: 3px groove #333;
     border: 3px ridge #333;
    border: 3px outset #333;
    border: 3px inset #333; */ 

    /* Border-raduis */

    border-radius:50px ;
    border-radius: 50px 100px;
    border-radius: 50px 100px 70px;
    border-radius: 30px 50px 70px 120px;

}