.box{
    width: 150px;
    height: 150px;
    background: salmon;
    text-align: center;
    color:#fff;
    /* transition-property: background;
    transition-duration: 1s;
    transition-delay: 2s;
    transition-timing-function: ease; */

    /* raccourci */
    transition: background 0.5s  ease-in-out 2s,
                 color 0.2s ease-in 2s;
}
.box:hover{
    background: red;
    cursor: pointer;
    color:blue;
}